# SPDX-FileCopyrightText: 2025 Eli Array Minkoff
#
# SPDX-License-Identifier: 0BSD

---

CompileFlags:
  Add:
    - "-Wall"
    - "-Wextra"
    - "-xc"
    - "-std=gnu23"
    - "-D_POSIX_C_SOURCE=200908L"
    # Warn on reserved identifiers
    - "-Wreserved-identifier"
    - "-Wreserved-macro-identifier"
    # include the repo-level include dir
    - "-I./include"
  Compiler: clang
